@model WeatherData
@{
    Layout = "_Layout"; ViewBag.Title = "Search";
}

<head>
    <style>
        h2 {
            text-align: center;
            color: cornflowerblue
        }
        /* styles for even rows */
        tr:nth-child(even) {
            background-color: azure;
        }
        /* styles for odd rows */
        tr:nth-child(odd) {
            background-color: aliceblue;
        }

        td, th {
            text-align: center
        }
    </style>
</head>

@try
{
    @*<script>alert("inside search data");</script>*@
    @if (ViewBag.weather == null)
    {
        <div style="text-align:center">
            <h1>Sorry, No data found! Please try again.</h1>
            <br />
            <a asp-action="Index" class="btn btn-sm btn-primary" asp-controller="Weather">Search Again!</a>
        </div>
    }
    else
    {
        <h2>Current Weather: @ViewBag.weather.Location.Name, @ViewBag.weather.Location.Region </h2>
        <table class="table table-sm table-striped table-bordered m-2">
            <thead>
                <tr>
                    <th>Last Updated</th>
                    <th>Temperature</th>
                    <th>Wind</th>
                    <th>Humidity</th>
                    <th>Feels Like</th>
                    <th>Pressure</th>
                    <th>UV Index</th>
                    <th>Condition</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@ViewBag.weather.CurrentWeather.LastUpdated </td>
                    <td>@ViewBag.weather.CurrentWeather.TempF °F</td>
                    <td>@ViewBag.weather.CurrentWeather.WindMph mph</td>
                    <td>@ViewBag.weather.CurrentWeather.Humidity %</td>
                    <td>@ViewBag.weather.CurrentWeather.FeelsLikeF °F</td>
                    <td>@ViewBag.weather.CurrentWeather.PressureMb mb</td>
                    <td>@ViewBag.weather.CurrentWeather.UV </td>
                    <td>
                        <img width="40" height="40" src=@ViewBag.weather.CurrentWeather.Condition.Icon alt="image">
                        <span> @ViewBag.weather.CurrentWeather.Condition.Text </span>
                    </td>

                </tr>
            </tbody>
        </table>

        <br />
        <h2> 14 days weather forecast for @ViewBag.weather.Location.Name, @ViewBag.weather.Location.Region</h2>

        <table class="table table-sm table-striped table-bordered m-2">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Max Temp.</th>
                    <th>Min Temp.</th>
                    <th>Avg. Humidity</th>
                    <th>Total Precipitation</th>
                    <th>UV Index</th>
                    <th>Condition</th>
                    <th>Sunrise</th>
                    <th>Sunset</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var day in ViewBag.weather.ForecastWeather.ForecastDay)
                {
                    <tr>
                        <td>@day.Date</td>
                        <td>@day.Day.MaxtempF °F</td>
                        <td>@day.Day.MintempF °F</td>
                        <td>@day.Day.AvgHumidity %</td>
                        <td>@day.Day.TotalprecipMm mm</td>
                        <td>@day.Day.UV</td>
                        <td>
                            <img width="40" height="40" src=@day.Day.Condition.Icon alt="image">
                            <span> @day.Day.Condition.Text </span>
                        </td>
                        <td>@day.Astro.Sunrise</td>
                        <td>@day.Astro.Sunset</td>
                    </tr>
                }
            </tbody>
        </table>

        <br />
        <div style="text-align:center">
            <a asp-action="Index" class="btn btn-sm btn-primary" asp-controller="Weather">Search Again!</a>
        </div>
        <br />
    }
}
catch
{
    <div style="text-align:center">
        <h1>Sorry, No data found! Please try again.</h1>
        <br/>
        <a asp-action="Index" class="btn btn-sm btn-primary" asp-controller="Weather">Search Again!</a>
    </div>
}